[project]
	description = laravel learn note
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YuHaikuo (YuHaikuo)
[access "refs/for/refs/*"]
	read = group user/YuHaikuo (YuHaikuo)
	push = group user/YuHaikuo (YuHaikuo)
	label-Code-Review = -2..+2 group user/YuHaikuo (YuHaikuo)
	label-Verified = -1..+1 group user/YuHaikuo (YuHaikuo)
	rebase = group user/YuHaikuo (YuHaikuo)
	removeReviewer = group user/YuHaikuo (YuHaikuo)
	submit = group user/YuHaikuo (YuHaikuo)
[access "refs/heads/*"]
	read = group user/YuHaikuo (YuHaikuo)
	create = group user/YuHaikuo (YuHaikuo)
	push = +force group user/YuHaikuo (YuHaikuo)
	pushMerge = group user/YuHaikuo (YuHaikuo)
[access "refs/tags/*"]
	push = group user/YuHaikuo (YuHaikuo)
	push = +force group user/YuHaikuo (YuHaikuo)
